{% extends '::base.html.twig' %}

{% block body -%}

    <div class="row">

        <div class="large-9 columns">
            <h3>Wyszukiwarka rekordów</h3>
            <p>W bazie są 2 rekordy Miasto: Gdańsk, Specjalizacja: Stomatolog
                <br>
                oraz Krakow, Weterynarz (bez polskich znakow)</p>
            <div class="section-container tabs" data-section>
                <section class="section">

                    <div class="content" data-slug="panel1">
                        <form action="{{path('meddo_homepage')}}" method="post">
                            <div class="row collapse">
                                <div class="large-2 columns">

                                </div>

                                {{form_row(form.miasto)}}

                            </div>


                            {{form_row(form.specjalizacja)}}
                            {{form_row(form.specjalizacja)}}
                            {{form_rest(form)}}

                            <button type="submit" class="radius button">Sprawdź</button>
                        </form>
                    </div>
                </section>

            </div>
        </div>
    {% endblock %}