{% extends '::base.html.twig' %}

{% block body -%}
    <ul class="side-nav">
  <li><a href="#">Link 1</a></li>
  <li><a href="#">Link 2</a></li>
  <li><a href="#">Link 3</a></li>
  <li><a href="#">Link 4</a></li>
</ul>


    <div class="row">
    <div class="small-2 large-4 columns"><h1>Some text</h1></div>
    <div class="small-4 large-4 columns">...</div>
    <div class="small-6 large-4 columns">...</div>
  </div>
</ul>
{% endblock %}