#menu
    li
        background-image: sprite-url($menu)
    li.blog
        background-position: sprite-position($menu, "blog")
    li.cv
        background-position: sprite-position($menu, "cv")
    li.contact
        background-position: sprite-position($menu, "contact") 
